* {
	font-family: "arial";
	box-sizing: border-box;
}

form {
	border: 1px solid black;
	border-radius: 3px;
	padding-left: 3px;
	margin: 3px;
}

.btn {
	margin-bottom: 4px;
	margin-left: 3px;
}
